<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aisino.network">

    <application>
        <activity
            android:name=".webview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/FinestWebViewTheme.Light" />

    </application>
</manifest>
