<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hq.generalsecurity">

    <application>
        <activity android:name=".activity.MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".standardform.StandardFormActivity" android:screenOrientation="portrait"/>
        <activity android:name=".staff.SecurityAddActivity" android:screenOrientation="portrait"/>
        <activity android:name=".staff.SecurityListActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>